@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  margin: 0 auto;
  background-color: #ff7700;
}

.container {
  position: fixed;
  margin: 0 auto;
  z-index: 52;
}

@media (max-width: 1067px) {
  .container {
    position: fixed;
    left: 20px;
  }
}

.header {
  padding: 0px 0px 0px 300px;
  margin: 0 auto;
  height: 30px;
  width: 400px;
  position: relative;
  bottom: 70px;
  left: -290px;
  z-index: 50;
}

@media (max-width: 1067px) {
  .header {
    width: 20%;
  }
}

.header:before {
  position: fixed;
  content: '';
  margin: 0 auto;
  width: 800px;
  height: 55px;
  background-color: #000;
  opacity: 0.8;
  z-index: 2;
  border-radius: 0px 0px 15px 15px;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.header__logo {
  margin: 0 auto;
  width: 100px;
  position: relative;
  right: 460px;
  z-index: 3;
  white-space: nowrap;
  font-size: 55px;
  font-weight: 600;
  font-family: "Britannic Bold";
  color: #c2430b;

  text-shadow: 2px 2px 2px #000;
}



@media (max-width: 1067px) {
  .header__logo {
    position: relative;
    font-size: 45px;
    left: -45px;
    margin: 0 auto;
  }
}

.header__logo p {
  position: relative;
  right: 24px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #000;
  letter-spacing: 4px;
  text-shadow: 0px 0px 0px;
}

@media (max-width: 1067px) {
  .header__logo p {
    font-size: 10px;
  }
}

.header__burger {
  position: relative;
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  top: -7px;
  left: 50px;
  z-index: 2;
  font-family: "Montserrat";
  color: #ffff;
  font-weight: 300;
}

.header__list a {
  letter-spacing: 1px;
  font-size: 11px;
  position: relative;
  left: -40px;
  top: -2px;
}

@media (max-width: 1067px) {
  .header__list a {
    position: relative;
    left: 05px;
  }
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 26px;
}

.header__link {
  color: #ffff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.header__link:hover {
  text-shadow: 0px 2px 2px #ffff;
  transition-duration: 0.3s;
}

.header__link:active {
  color: #8080;
  text-shadow: 0px 1px 0px #ffff;
  transition-duration: 0.1s;
}

@media (max-width: 1067px) {
  .header:before {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    right: 0px;
    width: 40px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #c2430b;
    position: absolute;
    border-radius: 30px;
    left: 0px;
    width: 35px;
    height: 3px;
    left: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__list {
    position: relative;
    left: -100px;
    top: -30px;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #c2430b;
    box-shadow: 2px 2px 3px #3333;
    position: absolute;
    width: 35px;
    border-radius: 30px;
    height: 3px;
    left: 3px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 7px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 10px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0px;
    width: 200;
    height: 400px;
    border-radius: 0px 0px 20px 0px;
    transition: all 1s ease 0s;
    background-color: #000;
    padding: 80px 0px 20px 50px;
    opacity: 0.8;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    position: relative;
    left: -40px;
    top: 5px;
    display: block;
  }
  .header__list li {
    margin: 0px 0px 32px 0px;
  }
}

.container__content {
  margin: 0 auto;
  max-width: 1350px;
}

.title {
  max-height: 1750px;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.png_fon_S-Class {
  max-width: 101%;
  position: relative;
  bottom: 140px;
  right: 2px;
  background: #7643;
}

.Sclass_fon {
  position: fixed;
}

.text {
  text-align: center;
  position: relative;
  bottom: 20px;
  z-index: 11;
  font-family: "Montserrat";
  color: #ffff;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 11px;
  text-shadow: 0px 2px 2px #000;
}

.text p {
  position: relative;
  font-size: 25px;
  letter-spacing: 4px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .text {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: px;
    position: relative;
    z-index: 10;
    top: -20px;
  }
  .text p {
    font-size: 10px;
  }
}

.png_fon_text {
  padding: 0px 15%;
  width: 100%;
  position: relative;
  top: 20px;
  text-align: center;
  font-family: "Montserrat";
  color: #ffff;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-shadow: 0px 2px 2px #000;
}

@media (max-width: 767px) {
  .png_fon_text {
    padding: 0px 10%;
    position: relative;
    bottom: 20px;
  }
}

.png_fon__2 {
  max-width: 100%;
  height: 450px;
  position: relative;
  left: 0px;
  bottom: 450px;
}

@media (max-width: 767px) {
  .png_fon__2 {
    top: -898px;
  }
}

.png_fon {
  background: #000;
  position: relative;
  width: -80%;
  padding: 0px 10% 450px 0px;
  border-radius: 25px;
  opacity: 0.4;
}

@media (max-width: 767px) {
  .png_fon {
    position: relative;
    height: 900px;
    width: 100%;
  }
}

.png_fon_logo_logo {
  position: relative;
  width: 83%;
  left: 80px;
  top: 30px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .png_fon_logo_logo {
    position: relative;
    left: 20px;
  }
}

.png_fon_logo_1 {
  margin: 0 auto;
  position: relative;
  width: auto;
  height: 0%;
  top: 20px;
  -webkit-filter: drop-shadow(5px 5px 10px #ffff);
  filter: drop-shadow(0px 4px 5x #ffff);
}

@media (max-width: 767px) {
  .png_fon_logo_1 {
    width: 200px;
  }
}

.png_fon_logo_2 {
  margin: 0 auto;
  width: 290px;
  height: 0%;
  position: relative;
  top: 20px;
  -webkit-filter: drop-shadow(5px 5px 10px #ffff);
  filter: drop-shadow(0px 4px 5px #ffff);
}

@media (max-width: 767px) {
  .png_fon_logo_2 {
    position: relative;
    width: 200px;
    top: 30px;
  }
}

.png_fon_logo_3 {
  margin: 0 auto;
  width: 290px;
  height: 0%;
  position: relative;
  top: 20px;
  -webkit-filter: drop-shadow(5px 5px 10px #ffff);
  filter: drop-shadow(0px 4px 5px #ffff);
}

@media (max-width: 767px) {
  .png_fon_logo_3 {
    position: relative;
    top: 60px;
    width: 220px;
  }
}

.png_fon_logo_4 {
  margin: 0 auto;
  width: 290px;
  height: 0%;
  position: relative;
  top: 70px;
  -webkit-filter: drop-shadow(5px 5px 10px #ffff);
  filter: drop-shadow(0px 4px 10px #ffff);
}

@media (max-width: 767px) {
  .png_fon_logo_4 {
    position: relative;
    top: 90px;
    width: 220px;
  }
}

.png_fon_logo_5 {
  margin: 0 auto;
  width: 290px;
  height: 0%;
  position: relative;
  top: 50px;
  -webkit-filter: drop-shadow(5px 5px 10px #ffff);
  filter: drop-shadow(0px 4px 5px #ffff);
}

@media (max-width: 767px) {
  .png_fon_logo_5 {
    position: relative;
    top: 120px;
    width: 240px;
  }
}

.png_fon_logo_6 {
  margin: 0 auto;
  width: 235px;
  height: 0%;
  position: relative;
  top: 20px;
  -webkit-filter: drop-shadow(5px 5px 10px #ffff);
  filter: drop-shadow(0px 4px 5px #ffff);
}

@media (max-width: 767px) {
  .png_fon_logo_6 {
    position: relative;
    top: 120px;
    width: 200px;
  }
}

.block__info_sclass_1 {
  position: relative;
  width: 90%;
  left: 100px;
  height: 1000px;
  bottom: 400px;
  background: #8465;
}

.container__content__2 {
  max-width: 1350px;
  position: relative;
  bottom: 400px;
  margin: 0 auto;
}

.fon {
  padding: 20px 0px 45px 0px;
  position: relative;
  margin: 0 auto;
  background-color: #333333;
  border-radius: 25px;
  width: 82%;
}

.sonax__text {
  line-height: 30px;
  color: #fff;
  padding: 20px 40px 70px 70px;
  font-family: "Montserrat";
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .sonax__text {
    font-size: 20px;
    line-height: 25px;
    padding: 0px 0px 25px 10px;
  }
}

.img__pmg__1 {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .img__pmg__1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
}

.png__3 {
  position: relative;
  border-radius: 10px;
  margin: 0 auto;
  width: 45%;
}

.png__3:hover {
  box-shadow: 0px 0px 7px #ffa420;
  transition: transform 1.5s;
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .png__3 {
    width: 200px;
    position: relative;
    top: 20px;
  }
}

.png__4 {
  position: relative;
  border-radius: 10px;
  margin: 0 auto;
  width: 46%;
}

@media (max-width: 767px) {
  .png__4 {
    width: 200px;
  }
}

.png__4:hover {
  box-shadow: 0px 0px 7px #ffa420;
  transition: transform 1.5s;
  transform: scale(1.1);
}

.cards {
  width: 80%;
  max-width: 1000px;
  background: #865;
  position: relative;
  bottom: 220px;
  left: 0px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .cards {
    position: relative;
    left: 0px;
  }
}

.wrapper {
  width: 102%;
  background-color: #333333;
  position: relative;
  top: 0px;
  color: #ffff;
}

@media (max-width: 767px) {
  .wrapper {
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    position: relative;
    color: #ffff;
  }
}

.footer__block {
  margin: 0 auto;
  max-width: 1300px;
  font-weight: 300;
  font-family: "Montserrat";
  display: flex;
  font-size: 14px;
  justify-content: space-evenly;
}

@media (max-width: 322px) {
  .footer__block {
    width: 320px;
  }
}

.footer__logo {
  position: relative;
  right: 0px;
  top: 20px;
  height: 100px;
  white-space: nowrap;
  font-size: 50px;
  font-weight: 900;
  font-family: "Britannic Bold";
}

.footer__logo p {
  position: relative;
  right: 55px;
  top: 0px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat";
  letter-spacing: 2px;
  text-shadow: 0px 0px 0px;
}

@media (max-width: 767px) {
  .footer__logo {
    position: relative;
    left: 80px;
    width: 170px;
  }
}

@media (max-width: 322px) {
  .footer__logo {
    position: relative;
    left: 60px;
  }
  .footer__logo p {
    font-size: 15px;
    position: relative;
    right: 35px;
  }
}

.footer_conect {
  position: relative;
  left: 45px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5px;
  line-height: 21px;
}

.footer_conect p {
  font-weight: 600;
}

.footer_conect a {
  text-decoration: underline;
  color: #fff;
  font-size: 13px;
}

.footer_conect a:hover {
  text-shadow: 0px 1px 2px #ffff;
  transition-duration: 0.3s;
}

.footer_conect a:active {
  color: #8080;
  text-shadow: 0px 1px 0px #ffff;
  transition-duration: 0.3s;
}

.footer__link {
  letter-spacing: 1px;
  position: relative;
  left: 80px;
  background: #333;
}

.link a {
  text-decoration: underline;
  color: #fff;
  line-height: 28px;
}

.link a:hover {
  text-shadow: 0px 2px 2px #ffff;
  transition-duration: 0.3s;
}

.link a:active {
  color: #8080;
  text-shadow: 0px 2px 0px #ffff;
  transition-duration: 0.3s;
}

.footer__links__logo {
  position: relative;
  top: 5px;
  left: -52px;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
  .footer__links__logo {
    position: relative;
    left: -20px;
    width: 250px;
  }
}

.footer__links__logo a:hover {
  -webkit-filter: drop-shadow(5px 5px 10px #ffff);
  filter: drop-shadow(0px 4px 3px #ffff);
  transition-duration: 0.5s;
  transition: transform 0.5s;
  transform: scale(1.2);
}

.footer__links__logo a:active {
  color: #8080;
  -webkit-filter: drop-shadow(0px 2px 0px #ffff);
  filter: drop-shadow(0px 2px px #ffff);
}

@media (max-width: 767px) {
  .wrapper {
    height: 600px;
  }
  .footer__link {
    display: none;
  }
  .footer_conect {
    height: 260px;
    width: 200px;
    text-align: center;
    position: relative;
    top: 150px;
    left: -88px;
    display: flex;
    letter-spacing: 2px;
    line-height: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 30px grey;
  }
}

@media (max-width: 321px) {
  .footer_conect {
    position: relative;
    left: -87px;
    height: 340px;
  }
  .wrapper {
    width: 340px;
  }
}
