//Обнуляющий файл
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');





body {
		margin: 0 auto;
		max-width: 1260px;
		}
.container {
	position: fixed;
	margin: 0 auto;
	z-index: 52;

}
@media (max-width: 1067px){
.container {
		position: fixed;
		left: 20px;


}
}


.header {


	padding: 0px 0px 0px 300px;
	margin: 0 auto;
	height: 30px;
	width: 400px;
	position: relative;
	bottom: 70px;
	left: -290px;
	z-index: 50;

}
@media (max-width: 1067px){
	.header {
		width: 20%;


	}
}
.header:before{
	position: fixed;
	content: '';
	margin: 0 auto;
	width: 800px;
	height: 55px;
	background-color: #000;
	opacity: 0.8;
	z-index: 2;
	border-radius: 0px 0px 15px 15px;

}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items:center;

}
.header__logo {
	margin: 0 auto;
	width: 100px;
	position: relative;
	//bottom: 4px;
	right: 460px;
	z-index: 3;
	white-space: nowrap;
	font-size: 55px;
	font-weight: 600;
	font-family: "Britannic Bold";
	color: rgb(194, 67, 11);
	transform-style: preserve-3d;
	animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
	animation-fill-mode: forwards;
	transform: rotateY(10deg) rotateX(30deg) translateZ(0);
	text-shadow:2px 2px 2px #000;
}
	@keyframes ಠ_ಠ {
	100% { transform: rotateY(-20deg) rotateX(30deg);}
	}
@media (max-width: 1067px){
.header__logo {
	position: relative;
	font-size: 45px;
	left: -45px;
	margin: 0 auto;

}

}

.header__logo p{
	position: relative;
	right:24px;
	font-size: 13px;
	font-weight: 500;
	font-family: "Montserrat";
	color:#000;
	letter-spacing: 4px;
	text-shadow:0px 0px 0px;

}
@media (max-width: 1067px){
	.header__logo p{
	font-size: 10px;
}
}
.header__burger {
	position: relative;
	display: none;
}
.header__menu {


}


.header__list {

	display: flex;
	position: relative;
	top: -7px;
	left: 50px;
	z-index: 2;
	font-family: "Montserrat";
	color:#ffff;
	font-weight: 300;
}


.header__list a{
	letter-spacing: 1px;
	font-size:11px;
	position: relative;
	left: -40px;
	top: -2px
}
@media (max-width: 1067px){
.header__list a{
	position: relative;
	left: 05px;
}
}
.header__list li{
	list-style: none;
	margin: 0px 0px 0px 26px;

	
}
.header__link {
	color: #ffff;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;

}


.header__link:hover{
	text-shadow:0px 2px 2px #ffff;
	transition-duration: 0.3s;
}

.header__link:active{
	color: #8080;
	text-shadow:0px 1px 0px #ffff;
		transition-duration: 0.1s;
}


@media (max-width: 1067px){
.header:before{
	display: none;
	}

.header__body {

	}

.header__burger {
	display: block;
	position: relative;
	right: 0px;
	width: 40px;
	height: 20px;
	position: relative;
	z-index: 3;
}


.header__burger span{
	position: absolute;
	background-color: rgb(194, 67, 11);
	position: absolute;
	border-radius: 30px;
	left: 0px;
	width: 35px;
	height: 3px;
	left: 3px;
	top: 9px;
	transition: all 0.3s ease 0s;
}


.header__list{
	position: relative;
	left: -100px;
	top: -30px;
	}


.header__burger:before,
.header__burger:after{
	content: '';
	background-color: rgb(194, 67, 11);
	box-shadow: 2px 2px 3px #3333;
	position: absolute;
	width: 35px;
	border-radius: 30px;
	height: 3px;
	left:3px;
	transition: all 0.3s ease 0s;
	}

.header__burger:before{
	top: 0;
}

.header__burger:after{
	bottom: 0;
}

.header__burger.active span{
	transform: scale(0);
		}
.header__burger.active:before{
	transform:rotate(45deg);
	top: 7px;
}

	.header__burger.active:after{
	transform:rotate(-45deg);
	bottom: 10px;
}


.header__menu {
	position: fixed;
	top: -100%;
	left: 0px;
	width: 200;
	height: 400px;
	border-radius: 0px 0px 20px 0px;
	transition: all 1s ease 0s;
	background-color: #000;
	padding: 80px 0px 20px 50px;
	opacity: 0.8;
	}


.header__menu.active{
	top: 0;
}

.header__list{
	position: relative;
	left: -40px;
	top: 5px;
	display: block;
}

.header__list li{
	margin: 0px 0px 32px 0px;
}
}








.container__content {
	width: 100%;
	text-align: center;
	position: relative;
	top: 160px
	}

.title {
	height: 450px;
background: rgb(255,255,255);
background: -moz-linear-gradient(0deg, rgba(255,255,255,0.8580474426098564) 45%, rgba(255,149,0,0.5163107479319853) 63%, rgba(255,149,0,1) 71%, rgba(36,22,0,0) 87%);
background: -webkit-linear-gradient(0deg, rgba(255,255,255,0.8580474426098564) 45%, rgba(255,149,0,0.5163107479319853) 63%, rgba(255,149,0,1) 71%, rgba(36,22,0,0) 87%);
background: linear-gradient(0deg, rgba(255,255,255,0.8580474426098564) 45%, rgba(255,149,0,0.5163107479319853) 63%, rgba(255,149,0,1) 71%, rgba(36,22,0,0) 87%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#241600",GradientType=1);
}
.content {
	max-width: 100%;

}


.text {
	position: relative;
	bottom: 155px;
	background-color:#000;
	font-family: "Montserrat";
	color: #ffff;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 4px;
	opacity: 0.8;

}
.text p{
	font-weight: 600;
	font-size: 55px;
	color: yellow;

}

@media (max-width: 767px){
.text {
	font-size: 20px;
	position: relative;
bottom: 160px;
}
.text p{

	font-weight: 600;
	font-size: 30px;
	color: yellow;
}

}
.png {
	width: 60%;
	position: relative;
	bottom: 170px;
	-webkit-filter: drop-shadow(4px 0px 10px #ffff);
	filter: drop-shadow(0px 10px 5px yellow);
}
@media (max-width: 767px){
	.png {
	width: 90%;
	position: relative;
	bottom: 120px;
	}
}
	//Спойлер прайс

.wrapper__2 {

	max-width: 90%;
	position: relative;
	top: -150px;
	margin: 0 auto;
}
@media (max-width: 767px){
	.wrapper__2 {
		position: relative;
		top: -200px;
	}
}
.block {

	max-width: 100%;
	font-weight: 600;

}
.block__item {
	font-family: "Montserrat";
	max-width: 100%;
}
.block__title {

	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	max-width: 100%;
	padding: 20px 0px 55px 40px;
	cursor: pointer;
}
.block__title__info{
	padding: 13.8px;
	position: relative;
	bottom: 12px;
	background-color: #fcfbb1;
	border-radius: 0px 0px 2px 2px;
	box-shadow: inset 0px -10px 10px #faf87d;
	//font-style: italic;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	letter-spacing: 2px;
	color: #333;
	line-height: 17px;
	width: 0 auto;
}
.block__title h1{
	max-width: 100%;
	height: 50px;
	padding: 15px 0px 0px 0px;
	background-color: #333;
	border-radius: 10px;
	font-size: 25px;
	color: #ffff;
	letter-spacing: 10px;
	text-shadow: 0px 2px 3px #ffb02e;
	box-shadow: 0px 4px 4px grey;
}
.block__title h1:active{
	color: #ffff;
	background-color: #3339;
	box-shadow: 0px 0px 6px #ffff;

}
.block__title h1:hover{
	text-shadow: 0px 2px 6px #ffff;
	box-shadow: 0px 0px 6px #ffff;
}

.block__title:before,
.block__title:after{
	content: '';
	width: 18px;
	height: 1.5px;
	background-color: #000;
	position: absolute;
	top: 37px;
	animation: animate 2s infinite;
	animation-timing-function: linear;
	box-shadow: 0px 2px 1px #ffb02e;
}
@keyframes animate {
	0%{
		margin-top: -5px;
}
}
.block__title:before{
	transform: rotate(40deg);
	left: 0;
}
.block__title:after{
	transform: rotate(-40deg);
	left: 13px;
}
.block__title.active:before,
.block__title.active:after{
	background-color: red;
	}
	.block__title.active:before{
	transform: rotate(-40deg);
	}
	.block__title.active:after{
	transform: rotate(40deg);
	}

.block__text {
	max-width: 100%;
	position: relative;
	top: -42px;
	letter-spacing: 1px;
	font-weight: 500;
	display: none;
}
.block__text h3{

	background-color:#fff;

}
.block__text p{
		max-width: 100%;
	text-align: center;
	line-height: 15px;
	letter-spacing: 4px;
	padding: 15px 0px 10px 0px;
}
.Block__text_2 {
	max-width: 100%;
	text-align: center;
	background-color: yellow;
	position: relative;
	top: 10px;
	font-weight: 600;
	color: red;
	text-shadow: 0px 1px 1px #ffff;
}
.block__text_block {
	margin: 0 auto;
	padding: 15px ;
	position: relative;
	bottom: 21px;
	left: 20px;
	width: 90%;
	background-color: #ffffb8;
	box-shadow: 0px 1px 4px #333;
}
.block__title h2{
	position: relative;
	top: -18px;
	bottom: 23px;
	width: 100%;
	height: 47px;
	padding: 19px 0px 0px 0px;
	background-color: #333;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 10px;
	text-align: center;
	text-shadow: 0px 1px 3px #ffff;
	box-shadow: 0px 3px 2px grey;
	

}
@media (max-width: 767px){
	.block__title h2{
		letter-spacing: 2px;
		font-size: 10px;
	}
}

.block__title h2:active{
	color: #ffff;
	background-color: #3339;
	box-shadow: 0px 0px 6px #ffff;
}
.block__title h2:hover{
	text-shadow: 0px 2px 6px #ffff;
	box-shadow: 0px 0px 6px #ffff;
}
.class {
	text-align: center;
	position: relative;
	top: 12px;
	color: #333;
	font-size: 15px;
	letter-spacing: 5px;
	font-weight: 600;
	text-decoration: underline;
	background-color: #ffa420;

}

@media (max-width: 767px){



.block__title h1{
	position: relative;
	text-align: center;
	padding: 14px 0px;
	width: 600px;
	letter-spacing: 5px;
	
	font-size: 12px;

}


.class {

	margin: 0 auto;
	position: relative;
	width: 100%;

}
}


.reclam {

	max-width: 1200px;
	margin: 0px auto;



}

.fon {
	padding: 20px 0px 45px 0px;
	position: relative;
		margin: 0px auto;
	height: 110%;
	background-color:#333333;
	border-radius: 25px;
	width: 82%;
	bottom: 100px;

}
@media (max-width: 767px){
.fon {

	padding: 20px 0px 90px 0px;
	position: relative;
	width: 90%;
	bottom: 100px;
	border-radius: 20px;
	}
}

.sonax {
	display: flex;
	justify-content: space-around;
}

.png__2 {

	height: 160px;
	position: relative;
	top: 20px;
	left: 40px;
	-webkit-filter: drop-shadow(4px 6px 10px #ffff);
	filter: drop-shadow(0px 0px 9px #ffff);
}
.png__2:hover {
	-webkit-filter: drop-shadow(4px 6px 10px #ffff);
	filter: drop-shadow(0px 0px 5px #ffa420);
	transition: transform 1s;
	transform: scale(1.1);
}
.sonax__text {
	background-color:#333;
	line-height: 30px;
	color: #fff;
	padding: 20px 40px 70px 70px;
	font-family: "Montserrat";
	text-align: center;
	font-weight: 500;
	font-size: 18.5px;
	letter-spacing: 1px;
}
@media (max-width: 767px){
.sonax__text {
	font-size: 10px;
	line-height: 25px;
	padding: 13px 30px 62px 60px;
	}
.png__2 {
	height: 150px;
}
}

.img__pmg__1 {
	padding: 0px 60px 0px 0px;
	max-width: 90%;
	margin: 0 auto;
}

@media (max-width: 767px){
.img__pmg__1 {
	padding: 0px 60px 0px 0px;
	position: relative;
	max-width: 90%;
	height: auto;
	left: -40px;
}
}

.png__3 {

	position: relative;
	border-radius: 10px;
	width: 45%;
	position: relative;
	left: 20px;
}
@media (max-width: 767px){
.png__3 {
	width: 80%;
	position: relative;
	left: 65px;

}

}
.png__3:hover{
	box-shadow: 0px 0px 7px #ffa420;
	transition: transform 1.5s;
	transform: scale(1.1);
}





.png__4 {

	position: relative;
	border-radius: 10px;
	position: relative;
	width: 46%;
	left: 65px;
	margin: 0 auto;

}
@media (max-width: 767px){

.png__4 {
	position: relative;
	right: 20px;
	top: 20px;
	width: 80%;

}
}

.png__4:hover{
		box-shadow: 0px 0px 7px #ffa420;
	transition: transform 1.5s;
	transform: scale(1.1);
}



.wrapper {
	position: relative;
	left: -10px;
	width: 102%;
	background-color: #333333;
	position: relative;
	top: 193px;
	color: #ffff;

}
@media (max-width: 767px){
.wrapper {
	display: flex;
	justify-content: space-around;
	background-color: #333333;
	position: relative;

	color: #ffff;
		}
	}

.footer__block {
		margin: 0 auto;
	max-width: 1300px;
	font-weight: 300;
	font-family: "Montserrat";
	display: flex;
	font-size: 14px;
	justify-content: space-evenly;

}
@media (max-width: 322px){
.footer__block {
	width: 320px;
}
}

.footer__logo {

	position: relative;
	right: 0px;
	top: 20px;
	height: 100px;
	white-space: nowrap;
	font-size: 50px;
	font-weight: 900;
	font-family: "Britannic Bold";
}

.footer__logo p{
	position: relative;
	right:55px;
	top: 0px;
	font-size: 18px;
	font-weight: 500;
	font-family: "Montserrat";
	letter-spacing: 2px;
	text-shadow:0px 0px 0px 
}
@media (max-width: 767px){
.footer__logo {
	position: relative;
	left: 80px;
	width: 170px;
}
}
@media (max-width: 322px){
	.footer__logo {
	position: relative;
	left: 60px;
	}
.footer__logo p{
	font-size: 15px;
	position: relative;
	right: 35px;
}
}

.footer_conect {

	position: relative;
	left: 45px;
	display: flex;
	flex-direction:column;
	letter-spacing: 1.5px;
	line-height: 21px;
}

.footer_conect p{
	font-weight: 600;

}

.footer_conect a{
	text-decoration: underline; color: #fff;
	font-size: 13px;
}

.footer_conect a:hover{
	text-shadow:0px 1px 2px #ffff;
	transition-duration: 0.3s;
}

.footer_conect a:active{
	color: #8080;
	text-shadow:0px 1px 0px #ffff;
	transition-duration: 0.3s;
}

.footer__link {

	letter-spacing: 1px;
	position: relative;
	left: 80px;
	background: #333;
}

.link a{
	text-decoration: underline; color: #fff;
	line-height: 28px;
}

.link a:hover{
	text-shadow:0px 2px 2px #ffff;
		transition-duration: 0.3s;
}

.link a:active{
	color: #8080;
	text-shadow:0px 2px 0px #ffff;
		transition-duration: 0.3s;
	}

.footer__links__logo {
	position: relative;
	top: 5px;
	left: -52px;
	display: flex;
	justify-content:space-evenly;
}
@media (max-width: 767px){
	.footer__links__logo {
		position: relative;
		left: -20px;
		width: 250px;
	}
}
.footer__links__logo a:hover{
	-webkit-filter: drop-shadow(5px 5px 10px #ffff);
	filter: drop-shadow(0px 4px 3px #ffff);
	transition-duration: 0.5s;
		transition: transform 0.5s;
	transform: scale(1.2);
}

.footer__links__logo a:active{
	color: #8080;
	-webkit-filter: drop-shadow(0px 2px 0px #ffff);
	filter: drop-shadow(0px 2px px #ffff);
}


@media (max-width: 767px){
	.wrapper {
	height: 600px;
	}
.footer__link {
	display: none;
}
.footer_conect {
	height: 260px;
	width: 200px;
	text-align: center;
	position: relative;
	top: 150px;
	left: -88px;
	display:flex;
	letter-spacing: 2px;
	line-height: 25px;

	border-radius: 10px;
	box-shadow: 0px 2px 30px grey;
}
}
@media (max-width: 321px){
.footer_conect {
	position: relative;
	left: -87px;
	height: 340px;
}
	.wrapper {
		width: 340px
	}

}