@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 385px;
  width: 850px;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: 2;
  border-radius: 0px 0px 15px 15px; }

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  position: relative;
  left: 70px;
  z-index: 3;
  white-space: nowrap;
  font-size: 55px;
  font-weight: 600;
  font-family: "Britannic Bold";
  color: #c2430b;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: rotateY(10deg) rotateX(30deg) translateZ(0);
  transform: rotateY(10deg) rotateX(30deg) translateZ(0);
  text-shadow: 2px 2px 2px #000; }

@-webkit-keyframes ಠ_ಠ {
  100% {
    -webkit-transform: rotateY(-20deg) rotateX(30deg);
    transform: rotateY(-20deg) rotateX(30deg); } }

@keyframes ಠ_ಠ {
  100% {
    -webkit-transform: rotateY(-20deg) rotateX(30deg);
    transform: rotateY(-20deg) rotateX(30deg); } }

.header__logo p {
  position: relative;
  right: 15px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #000;
  letter-spacing: 2px;
  text-shadow: 0px 0px 0px; }

.header__burger {
  display: none; }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 310px;
  z-index: 2;
  font-family: "Montserrat";
  color: #ffff;
  font-weight: 300; }

.header__list a {
  font-size: 14px;
  position: relative;
  left: 72px;
  top: -2px; }

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 26px; }

.header__link {
  color: #ffff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none; }

.header__link:hover {
  text-shadow: 0px 2px 2px #ffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.header__link:active {
  color: #8080;
  text-shadow: 0px 1px 0px #ffff;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s; }

@media (max-width: 767px) {
  .header:before {
    display: none; }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3; }
  .header__burger span {
    position: absolute;
    background-color: #333333;
    position: absolute;
    left: 0px;
    width: 35px;
    height: 2px;
    left: 440px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__list {
    position: relative;
    left: -100px;
    top: -30px; }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #333333;
    position: absolute;
    width: 35px;
    height: 2px;
    left: 440px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px; }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 10px; }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 200;
    height: 400px;
    border-radius: 0px 0px 20px 0px;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    background-color: #000;
    padding: 80px 0px 20px 50px;
    opacity: 0.8; }
  .header__menu.active {
    top: 0; }
  .header__list {
    display: block; }
  .header__list li {
    margin: 0px 0px 35px 0px; } }

.container__content {
  text-align: center;
  position: relative;
  top: 100px; }

.text {
  position: relative;
  top: -15px;
  background-color: #000;
  font-family: "Montserrat";
  color: #ffff;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 4px;
  opacity: 0.8; }

@media (max-width: 767px) {
  .text {
    font-size: 18px; } }

.png {
  max-width: 100%;
  position: relative;
  top: 5px; }

.table {
  font-family: "Montserrat";
  margin: 0 auto;
  width: 1265px;
  font-size: 18px;
  text-align: center;
  border-collapse: collapse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-item: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

span {
  font-size: 11px;
  font-style: italic;
  font-weight: 400; }

th, td:first-child {
  font-weight: bold;
  background-color: #333333;
  padding: 25px 48px;
  color: #fff; }

td {
  background-color: yellow;
  color: #333333;
  font-size: 15px;
  font-weight: 600; }

td, th {
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: #ffff;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000; }

@media (max-width: 767px) {
  .price {
    display: none; }
  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 285px;
    font-weight: 600; }
  .block__item {
    margin: 0px 0px 20px 0px;
    font-family: "Montserrat";
    width: 400px; }
  .block__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding: 10px 0px 55px 40px;
    cursor: pointer; }
  .block__title__info {
    padding: 13.8px;
    position: relative;
    bottom: 18px;
    background-color: #fcfbb1;
    border-radius: 0px 0px 10px 10px;
    -webkit-box-shadow: inset 0px -10px 10px #faf87d;
    box-shadow: inset 0px -10px 10px #faf87d;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    color: #333;
    line-height: 17px; }
  .block__title h1 {
    position: relative;
    bottom: 23px;
    width: 270px;
    height: 50px;
    padding: 15px 0px 0px 0px;
    background-color: #ffb02e;
    border-radius: 7px;
    font-size: 15px;
    color: #ffff;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 0px 3px 3.2px #000;
    -webkit-box-shadow: 0px 3px 2px grey;
    box-shadow: 0px 3px 2px grey; }
  .block__title:before,
  .block__title:after {
    content: '';
    width: 18px;
    height: 1.5px;
    background-color: #000;
    position: absolute;
    top: 20px;
    -webkit-animation: animate 1s infinite;
    animation: animate 1s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-box-shadow: 0px 2px 1px #ffb02e;
    box-shadow: 0px 2px 1px #ffb02e; }
  @-webkit-keyframes animate {
    0% {
      margin-top: -5px; } }
  @keyframes animate {
    0% {
      margin-top: -5px; } }
  .block__title:before {
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    left: 0; }
  .block__title:after {
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
    left: 13px; }
  .block__title.active:before,
  .block__title.active:after {
    background-color: red; }
  .block__title.active:before {
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg); }
  .block__title.active:after {
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg); }
  .block__text {
    position: relative;
    top: -42px;
    letter-spacing: 1px;
    font-weight: 500;
    display: none; }
  .block__text h3 {
    background-color: #ffff; }
  .block__text p {
    text-align: center;
    line-height: 15px;
    padding: 15px 0px 0px 0px; }
  .Block__text_2 {
    text-align: center;
    background-color: yellow;
    border-radius: 10px;
    position: relative;
    top: 10px;
    font-weight: 600;
    color: red;
    text-shadow: 0px 1px 1px #ffff; }
  .block__text_block {
    padding: 15px;
    position: relative;
    left: 40px;
    bottom: 21px;
    width: 270px;
    background-color: #ffffb8;
    -webkit-box-shadow: 0px 1px 4px #333;
    box-shadow: 0px 1px 4px #333; }
  .block__title h2 {
    position: relative;
    bottom: 23px;
    width: 270px;
    height: 50px;
    padding: 19px 0px 0px 0px;
    background-color: #f3da0b;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0px 3px 3px #ffa420;
    -webkit-box-shadow: 0px 3px 2px grey;
    box-shadow: 0px 3px 2px grey; }
  .class {
    text-align: center;
    position: relative;
    top: 12px;
    color: #333;
    font-weight: 600;
    text-decoration: underline;
    background-color: #ffa420;
    border-radius: 10px; } }

.png_1_1 {
  width: 1262px; }

.reclam {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
  left: 100px; }

.fon {
  position: relative;
  top: 60px;
  width: 1000px;
  height: 500px;
  background-color: #333333;
  border-radius: 25px; }

@media (max-width: 767px) {
  .fon {
    left: -98px;
    top: 60px;
    width: 480px;
    height: 770px;
    background-color: #333333;
    border-radius: 0px; } }

.sonax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.png__2 {
  width: 50px;
  height: 190px;
  position: relative;
  top: 20px;
  left: 40px;
  -webkit-filter: drop-shadow(4px 6px 10px #ffff);
  filter: drop-shadow(0px 0px 9px #ffff); }

.sonax__text {
  line-height: 30px;
  color: #fff;
  padding: 30px 30px 40px 60px;
  font-family: "Montserrat";
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px; }

@media (max-width: 767px) {
  .sonax__text {
    font-size: 12px;
    line-height: 22px; } }

.png__3 {
  border-radius: 10px;
  width: 450px;
  position: relative;
  top: 15px;
  left: -10px; }

@media (max-width: 767px) {
  .png__3 {
    border-radius: 10px;
    width: 450px;
    position: relative;
    top: -10px;
    left: 0px; } }

.png__4 {
  border-radius: 10px;
  width: 450px;
  position: relative;
  top: 20px;
  right: -15px; }

@media (max-width: 767px) {
  .png__4 {
    border-radius: 10px;
    width: 450px;
    position: relative;
    top: 15px;
    right: 0px; } }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 100%;
  background-color: #333333;
  position: relative;
  top: 190px;
  color: #ffff; }

@media (max-width: 767px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 100%;
    background-color: #333333;
    position: relative;
    top: 200px;
    color: #ffff; } }

.footer__block {
  font-weight: 300;
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.footer__logo {
  position: relative;
  right: 100px;
  top: 20px;
  height: 100px;
  white-space: nowrap;
  font-size: 50px;
  font-weight: 900;
  font-family: "Britannic Bold"; }

.footer__logo p {
  position: relative;
  right: 55px;
  top: 0px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat";
  letter-spacing: 2px;
  text-shadow: 0px 0px 0px; }

.footer_conect {
  position: relative;
  left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  letter-spacing: 1.5px;
  line-height: 21px; }

.footer_conect p {
  font-weight: 600; }

.footer_conect a {
  text-decoration: underline;
  color: #fff;
  font-size: 13px; }

.footer_conect a:hover {
  text-shadow: 0px 1px 2px #ffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.footer_conect a:active {
  color: #8080;
  text-shadow: 0px 1px 0px #ffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.footer__link {
  letter-spacing: 1px;
  position: relative;
  left: 150px; }

.link a {
  text-decoration: underline;
  color: #fff;
  line-height: 28px; }

.link a:hover {
  text-shadow: 0px 2px 2px #ffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.link a:active {
  color: #8080;
  text-shadow: 0px 2px 0px #ffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.footer__links__logo {
  position: relative;
  top: 5px;
  left: -52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.footer__links__logo a:hover {
  -webkit-filter: drop-shadow(5px 5px 10px #ffff);
  filter: drop-shadow(0px 4px 3px #ffff);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.footer__links__logo a:active {
  color: #8080;
  -webkit-filter: drop-shadow(0px 2px 0px #ffff);
  filter: drop-shadow(0px 2px px #ffff); }
